.header{
  position:relative;
}

.search{
  display: flex;
  align-items: center;
}

.coursesFormSearchBtn {
    width: 32px;
    height: 32px;
    background: #fff url("../../images/icon-search-25.png") center no-repeat;
    border: 0;
    display: block;
    float: right;
    margin-left: 5px;
}

.buttonApp {
    width:200px;
    height: 25px;
    background:#00c1ff;
    color: #fff;
    border: none transparent;
    border-radius: 6px;
    margin-top: 15px;
    font-size: 14px;
    position:absolute;
    right:0
}
.buttonApp:hover { background:#00aee6;}
.buttonApp:focus { box-shadow: none; outline: none;}
.buttonApp:active { background:#00aee6; }

@media (max-width: 768px) {
  .buttonApp{
    position:relative;
    float: right;
  }
}
@media (max-width: 576px) {
  .buttonApp{
    position:relative;
    float: none;
  }
}
